extends layout.pug

block scripts
    script.
        var socket = io.connect('http://localhost:3000')
        socket.on('message', function(message){
            console.log('Le serveur a le message : ' + message);


        })

        $("#texte").click(function() {
            socket.emit('client', "Bouton activé");
        });

    body
        h1 WebSocket

        p#texte
            | click on me please to send a message to server!