extends layout.pug


block content
    p.
        REGISTER

    form(action='/users/register', method='post')
        | Username
        input(type="text" name="username")
        br
        | Password
        input(type="password" name="password")
        br

        input(type="submit" name="submit")
block footer